<!--
  Standalone launcher for running a default Kobuki
 -->
<launch>
  <arg name="urdf_file" default="$(find xacro)/xacro.py '$(find turtlebot_nonstop_description)/robots/kobuki_hexagons_kinect_Marker_0.urdf.xacro'" />
  <arg name="robot_name" default="turtlebot_nonstop_soft" />
  <arg name="safety_controller" default="true" />

  <param name="robot/name" value="$(optenv ROBOT turtlebot)"/>
  <param name="robot/type" value="turtlebot"/>
  <param name="robot_description" command="$(arg urdf_file)" />

    <node pkg="diagnostic_aggregator" type="aggregator_node" name="diagnostic_aggregator" >
    <rosparam command="load" file="$(find turtlebot_nonstop_softnode)/param/diagnostics.yaml" />
  </node>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
    <param name="publish_frequency" type="double" value="30.0" />
  </node>


  <include file="$(find turtlebot_nonstop_bringup)/launch/includes/_mobile_base_soft.launch"/>


  <node pkg="zeroconf_avahi" type="zeroconf" name="zeroconf_avahi" ns="zeroconf">
    <rosparam file="$(find turtlebot_nonstop_bringup)/param/zeroconf.yaml" command="load"/>
    <!-- 
    <rosparam param="services">
      [ { name: "Turtlebot", type: _ros-master._tcp, domain: local, description: "ros master" } ]
    </rosparam>
     -->
  </node>


</launch>
