<launch>

    <arg name="urdf_file" default="$(find xacro)/xacro.py '$(find handheld_mapper_description)/robots/handheld_mapper.urdf.xacro'" />
    <param name="robot_description" command="$(arg urdf_file)" />

    <!--<param name="~tf_prefix" value="mapper" /> -->

    <!--    <node pkg="tf" type="static_transform_publisher" name="map_to_real_base_link" args="0 0 0 0 0 0 /map base_link 10" />   -->

    <node pkg="hokuyo_node" type="hokuyo_node" name="hokuyo_node" output="screen">
        <param name="port" value="/dev/ttyACM1" />
        <param name="frame_id" value="hokuyo_laser_link" />
    </node>

    <node pkg="handheld_mapper_driver" type="handheld_mapper_node" name="imu_node" output="screen">
        <param name="port" value="/dev/ttyUSB0" />
    </node>

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
        <param name="publish_frequency" type="double" value="5.0" />
    </node>
    
</launch>