<launch>

    <arg name="laser_port" default="/dev/ttyACM1"/>
    <arg name="laser_frame_id" default="hokuyo_laser_link"/>
    <arg name="imu_port" default="/dev/ttyUSB0"/>
 
   <!-- <param name="~tf_prefix" value="mapper" /> -->

    <node pkg="hokuyo_node" type="hokuyo_node" name="hokuyo_node" output="screen">
        <param name="port" value="$(arg laser_port)" />
        <param name="frame_id" value="$(arg laser_frame_id)" />
    </node>

    <node pkg="handheld_mapper_driver" type="handheld_mapper_node" name="imu_node" output="screen">
        <param name="port" value="$(arg imu_port)" />
    </node>

    <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
   <remap from="imu_data" to="imu"/>
    <param name="freq" value="10.0"/>
    <param name="sensor_timeout" value="1.0"/>
    <param name="odom_used" value="true"/>
    <param name="imu_used" value="true"/>
    <param name="vo_used" value="false"/>
    <param name="output_frame" value="odom"/>
  </node>
</launch>