<!--
  The mobile platform base.
  
  Selector for the base.
 -->
<launch>
  <arg name="base" />
  <arg name="safety_controller" />
  <include file="$(find turtlebot_nonstop_bringup)/launch/includes/$(arg base)/_mobile_base.launch">
    <arg name="safety_controller" value="$(arg safety_controller)" />
  </include>
</launch>

