<!--
  sniperbot global navigation:
  - turtlebot
  - 3d sensor
  - auto-docking
  - ar marker tracker
  - navigation manager
  - move_base
  - amcl localization
  - rviz view (optional)
 -->

<launch>
  
  <arg name="initial_pose_x" default="0.0"/> <!-- Use 17.0 for willow's map in simulation -->
  <arg name="initial_pose_y" default="0.0"/> <!-- Use 17.0 for willow's map in simulation -->
  <arg name="initial_pose_a" default="0.0"/>

  <!-- ************ 3D Sensor *************** -->
  <include file="$(find turtlebot_nonstop_bringup)/launch/3dsensor.launch">
    <arg name="rgb_processing" value="true"/>
    <arg name="scan_processing" value="true"/>
    <arg name="depth_processing" value="false"/>
  </include>

  <!--  ********** Alvar AR markers tracker ***********  -->
  <include file="$(find sniperbot)/launch/includes/_ar_tracker.launch">
    <arg name="max_frequency" value="3.0"/>  <!-- This is a CPU-hungry bastard; reduce its rate --> 
  </include>

  <include file="$(find turtlebot_navigation)/launch/includes/_amcl.launch">
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
  </include>

  <include file="$(find turtlebot_navigation)/launch/includes/_move_base.launch"/>

</launch>