<launch>
  <include file="$(find turtlebot_nonstop_bringup)/launch/turtlebot_nonstop_demo.launch"/>

  <node pkg="marker_localization" name="marker_localization" type="marker_localization">
  	<param name="base_frame_id" value="base_footprint"/>
    <remap from="base_pose_ground_truth" to="odom"/>
  </node>

  <node pkg="robot_pose_publisher" name="robot_pose_publisher" type="robot_pose_publisher">
    <rosparam>
      is_stamped: true
      base_frame: base_footprint
    </rosparam>
  </node>
</launch>
