<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  
  <xacro:include filename="$(find lemonabot_description)/urdf/frame/lemonabot_frame.urdf.xacro"/>
  <xacro:include filename="$(find handheld_mapper_description)/urdf/handheld_mapper_library.urdf.xacro"/>

  <!-- Bundle Markers -->
  <xacro:include filename="$(find lemonabot_description)/urdf/marker_bundle/marker_bundle.urdf.xacro"/>
</robot>
