<?xml version="1.0"?>
<robot name="coldeyes_frame" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find coldeyes_description)/urdf/common_properties.urdf.xacro"/>
  <link name="base_link">
    <visual>
      <geometry>
        <box size=".50 .72 .29"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 .145"/>
      <material name="red">
        <color rgba=".8 0 0 1"/>
      </material>
    </visual>
  </link>
</robot>
