<?xml version="1.0"?>
<robot name="lemonabot_frame" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find lemonabot_description)/urdf/common_properties.urdf.xacro"/>
 
  <link name="base_footprint"/>

  <joint name="base_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="base_footprint"/>
      <child link="base_link" />
  </joint>

  <link name="base_link">
    <visual>
      <geometry>
        <box size=".38 .48 .002"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="red">
        <color rgba="0 0 0 0"/>
      </material>
    </visual>
  </link>

  <joint name="bottom_plate_joint" type="fixed">
      <origin xyz="0 0 0.03" rpy="0 0 0" />
      <parent link="base_link"/>
      <child link="bottom_plate_link" />
  </joint>
  
  <link name="bottom_plate_link">
    <visual>
      <geometry>
        <cylinder length="0.002" radius="0.19"/>
       <!-- <box size=".38 .48 .002"/>-->
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="white">
        <color rgba="0.9 1 1 1"/>
      </material>
    </visual>
  </link>

  <joint name="middle_plate_joint" type="fixed">
      <origin xyz="0 0 0.16" rpy="0 0 0" />
      <parent link="base_link"/>
      <child link="middle_plate_link" />
  </joint>

  <link name="middle_plate_link">
    <visual>
      <geometry>
	<cylinder length="0.002" radius="0.19"/>
        <!--<box size=".38 .38 .002"/>-->
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="white">
        <color rgba="0.9 1 1 1"/>
      </material>
    </visual>
  </link>

  <joint name="top_plate_joint" type="fixed">
      <origin xyz="0 0 0.245" rpy="0 0 0" />
      <parent link="base_link"/>
      <child link="top_plate_link" />
  </joint>

  <link name="top_plate_link">
    <visual>
      <geometry>
	<cylinder length="0.002" radius="0.19"/>
        <!--<box size=".38 .38 .002"/>-->
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="white">
        <color rgba="0.9 1 1 1"/>
      </material>
    </visual>
  </link>
  
  <!-- wheel -->
  <joint name="left_wheel_joint" type="fixed">
      <origin xyz="0 0.10 0" rpy="1.57075 1.57075 0" />
      <parent link="bottom_plate_link"/>
      <child link="left_wheel_link" />
  </joint>

  <link name="left_wheel_link">
    <visual>
      <geometry>
        <cylinder length="0.02" radius="0.03"/>
        <!--<box size=".38 .38 .002"/>-->
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="red">
        <color rgba="1 0 0 1"/>
      </material>
    </visual>
  </link>

  <joint name="right_wheel_joint" type="fixed">
      <origin xyz="0 -0.10 0" rpy="1.57075 1.57075 0" />
      <parent link="bottom_plate_link"/>
      <child link="right_wheel_link" />
  </joint>

  <link name="right_wheel_link">
    <visual>
      <geometry>
        <cylinder length="0.02" radius="0.03"/>
        <!--<box size=".38 .38 .002"/>-->
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="red">
        <color rgba="1 0 0 1"/>
      </material>
    </visual>
  </link>


</robot>
