<?xml version="1.0"?>
<!--
  The complete handheld_mapper library of xacros for easy reference
 -->
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- General -->
  <xacro:include filename="$(find handheld_mapper_description)/urdf/common.urdf.xacro"/>
  <!-- Laser Sensors -->
  <xacro:include filename="$(find handheld_mapper_description)/urdf/sensors/hokuyo_04lx_laser.urdf.xacro"/>
  <!-- Stack -->
  <xacro:include filename="$(find handheld_mapper_description)/urdf/handheld_mapper.urdf.xacro"/>

 <!-- Bundle Markers -->
  <xacro:include filename="$(find handheld_mapper_description)/urdf/marker_bundle/marker_bundle.urdf.xacro"/>  
</robot>
