<?xml version="1.0"?>

<robot name="handheld_mapper" xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Included URDF Files -->
  
  <xacro:macro name="handheld_mapper" params="parent x_loc y_loc z_loc r_deg p_deg y_deg">
  <joint name="handheld_mapper_joint" type="fixed">
      <origin xyz="${x_loc} ${y_loc} ${z_loc}" rpy="${r_deg} ${p_deg} ${y_deg}"/>
      <parent link="${parent}"/>
      <child link="laser_base_link"/>
  </joint>
  
  <link name="laser_base_link">
    <visual>
      <geometry>
        <box size=".38 .48 .36"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 .18"/>
      <material name="red">
        <color rgba="0 0 0 0"/>
      </material>
    </visual>
  </link>
  
  <!-- laser -->
    <xacro:hokuyo_04lx_laser name="hokuyo" parent="laser_base">
      <origin xyz="-0.075 0 0.003" rpy="0 0 0" />
    </xacro:hokuyo_04lx_laser>

    <!-- imu -->
    <joint name="base_to_imu" type="fixed">
      <parent link="laser_base_link"/>
      <child link="imu"/>
      <origin xyz="0.075 0.01 0.04"/>
    </joint>

    <link name="imu">
      <visual>
        <geometry>
          <box size=".013 .024 .002"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="black">
        <color rgba="0 0 0 1"/>
      </material>

      </visual>
    </link>
  </xacro:macro>
</robot>
