<launch>
  <include file="$(find turtlebot_nonstop_softapps)/launch/nav.launch"/>
  <node pkg="robot_pose_publisher" name="robot_pose_publisher" type="robot_pose_publisher">
    <rosparam>
      is_stamped: true
      map_frame: map
      base_frame: base_footprint
    </rosparam>
  </node>
</launch>
